body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #ffffff;
}

:root {
  --main--text-color: #434455;
  --text-color: #2e2f42;
  --main-logo-color: #4d5ae5;
  --back-ground-color: F4F4FD;
  --hover-focus: #404bbf;
}

*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--main--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* heder */

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
}

.header-logo > span {
  color: #2e2f42;
  font-size: 18px;
  line-height: 1.17;
}



.header-container {
  display: flex;
}

.link-studia {
  font-size: 16px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  padding: 24px 0;
}

.top {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  color: #2e2f42;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.current {
  position: relative;
}
.menu-item {
  color: #404bbf;;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current:after {
  color: #404bbf;
  background-color: #404bbf;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
}

.header-menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address {
  display: flex;
  gap: 40px;
}

.link-studia:hover,
.link-studia:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
  gap: 40px;
  align-items: center;
}

.heder-email {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-email:hover,
.heder-email:focus {
  color: #404bbf;
}

/* hero */

.hero {
  background-color: #2e2f42;
  max-width: 1440px;
  max-height: 600px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
  margin: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 48px;
}

.hero-button {
  background-color: var(--main-logo-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: auto auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* advantages */
.advantage-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding: 120px 0;
}
.container.advantages-container {
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.images {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantages-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* work */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container .section-team-container {
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team {
  flex-basis: calc(100% - 3 * 24px);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.pesonal-name {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.social-link {
  display: flex;
  width: 232px;
  height: 40px;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: #404bbf;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.portfolio {
  background: #fff;
  padding: 120px 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li img {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .text{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb .text {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  background: var(--IRIS, #4d5ae5);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item-img {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-conteiner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}

.list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio h2 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 72px;
}

.list-item-name {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container.footer-container {
  padding-left: 15px;
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-text {
  margin-right: 120px;
}
.footer-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  width: 264px;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-email,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-email:hover,
.footer-email:focus {
  color: #404bbf;
}
.footer-form{
  margin-left: 80px;
  }
  .form_text{
    margin-bottom: 16px; 
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff; 
    }
    .footer_form_email{
      display: flex;
      gap: 24px;
    }
    .footer_input{
      width: 264px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding-left: 16px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: #ffffff;
    }
    .footer_input::placeholder{
      color: #FFF;
    }
    .footer_button{
      min-width: 165px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background-color: #4D5AE5;
      border: none;
      border-radius: 4px;
      padding: 8px 24px;
    }
    .footer_ikon{
      margin-left: 16px;
    }
/* Portfolio */

.button {
  background-color: #f5f4fa;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--main-logo-color);
  color: #ffffff;
}
.media {
  padding: 0;
}
.social-media {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-link {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 208px;
}
.link-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
  background-color: #31d0aa;
}
.modal_window {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container_modal_window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.window_button{
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window_button:hover{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;

}
.window_button:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}
.window_button_icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_window_text{
  color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.form_container{
  margin-bottom: 8px;
}
.form_name{
  color:#8E8F99;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
display: block;
margin-bottom: 4px;
}
.form_container_name{
  position: relative; 
  margin-bottom: 8px;
}
.form_container_name_input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.form_container_name_input:focus-within{
  border-color: #4D5AE5;
}
.container_icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  

.form_container_name_input:focus-within+.container_icon{
  fill: #4D5AE5;
}
.textarea_container{
  margin-bottom: 16px;
}
.textarea_name{
  width: 100%; 
  height: 120px;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.textarea_name:focus{
  border-color: #4D5AE5; 
}
.checkbox_container{
  margin-bottom: 24px;}

.checkbox_input_title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color:#8e8f99;

}
.checkbox_container_icon{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  fill: transparent; 
}

.checkbox_input:checked +.checkbox_input_title >.checkbox_container_icon{
  background-color: #404BBF;
    border: none;
    fill: #F4F4FD; 
}
.checkbox_text_icon{
  color:  #4d5ae5;
  font-family: Roboto;
font-size: 12px;
line-height: 16px;
font-weight: 400;
letter-spacing: 0.48px;
text-decoration-line: underline;
}
.checkbox_container_button{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 24px;
}